@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.inicio__main{ 
    height: calc(100vh - var(--height-nav));
    min-height: 600px;
    // display: flex;
    // align-items: center;

    display: grid;
    // 3 col / 3 row
    grid-template-columns:  [col-start] 1fr 
                            [mid-start] 1fr
                            [mid-end] 1fr 
                            [col-end];
    grid-template-rows: [row-start] 1fr 
                        [row-mid-start] 1fr 
                        [row-mid-end] 1fr
                        [row-end];
}

.inicio__texts{
   // flex-basis: 70%;
   grid-column: col-start/ mid-end;
   grid-row: row-mid-start / row-mid-end;
}


.inicio__picture{  
    //flex-basis: 30%;
    grid-column: mid-end / col-end;
    grid-row: row-mid-start / row-mid-end;
}

.inicio__img{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
    border-radius: 33%;
}

.inicio__titulo{
    font-size: 4vw;
}

.inicio__paragraph{
    font-size: 2vw;
    font-weight: 300;
}

.btn-continuar{
    background: #1E8449;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 1.5em;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

