@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.nav{
    background: #239B56;
    height: var(--height-nav);
    color: #fff;


}

.nav__contenedor{
    height: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    display: grid;
    // 1 row / 5 col
    grid-template-columns:  [col-start] 1fr 
                            [mid-start] 1fr
                            [mid-end] 1fr 
                            [col-end];
    // grid-template-columns:  
    // [col-start] 1fr 
    // [col-mid1-start] 2fr
    // [col-mid2-end] 3fr 
    // [col-mid3-end] 4fr 
    // [mid-start] 5fr
    // [col-end];
    // grid-template-rows: [row-start] 1fr [row-end];
    grid-template-rows: [row-start] 1fr 
                        [row-mid-start] 1fr 
                        [row-mid-end] 1fr
                        [row-end];
}

.nav__logo {
    grid-column: col-start / mid-start;
    grid-row: row-mid-start / row-mid-end;
    

}

.nav__enlaces{
    grid-column: mid-end / col-end;
    grid-row: row-mid-start / row-mid-end;
    padding: 5px;
}

.nav__enlace{
    color: #fff;
    text-decoration: none;
    margin-left: 1em; 

}

