h1 {
  left: 50px;
  position: relative;
  top: 10px;
  width: 80%;
}

/* Elemento large  para forzar scroll */
.large {
  background-color: burlywood;
  position: relative;
  left: 20%;
  height: 1000px;
  width: 60%;
}

.padre {
  background-color: lightblue;
  position: relative;
  left: 20%;
  height: 1000px;
  width: 60%;
}

.padre div {
  height: 50px;
  position: absolute;
  width: 50px;
}

.padre div.hijo1 {
  background-color: red;
  left: 100px;
  top: 50px;
  z-index: 2;
}

.padre div.hijo2 {
  background-color: chartreuse;
  left: 120px;
  top: 30px;
}

/** Elemento fixed **/
.footer {
  background-color: lightgrey;
  position: fixed;
  width: 100%;
  bottom: 0%;
  text-align: center;
}

.footer div,
.sticky-menu div {
  display: inline-block;
  padding: 30px;
  width: 100px;
}

/* Sticky Menu */
.sticky-menu {
  background-color: lightgrey;
  position: sticky;
  top: 0%;
  z-index: 3;
  text-align: center;
}

