body {
   /* margin: 0;*/
    margin: 70px;
}

header {
    position: relative;  
    background-color: blueviolet;
    overflow: hidden;
}

.nombre {
    background-color: cyan;
    position: relative;
    width: 50%;
    left: 50%;
    display: inline-block;
}
.nombre p{
    padding-left: 10px;
}

.nombre p:first-child{
    padding: 10px;
    font-weight: bold;
    /*font-size: larger;*/
}

.foto {
    background-color: blue;
    background-image: url("fotoheader2.png");
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 50%;
    display: inline-block;
    /*background-position: center;*/

}


footer{
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    justify-content: space-between;
    padding: 5px;
    margin: 5px auto 5px;
}

.nav {
    position: sticky;
    top: 5px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    padding: 5px 20px;
    margin: 5px auto 5px;

    justify-content: space-between;
}

.nav a{
    display: inline-block;
    margin: auto 5px;
    padding: 5px 70px ;

}

section {
    border-top: 4px solid black;
    margin: 5px auto 5px;

    
}

