* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(#ff97e9 10%, rgb(146, 232, 253), rgb(200, 142, 255));

}

header {
    position: relative;  
    background-color: blueviolet;
    overflow: auto;
}

.headerIzq{
    background-image: url("/miWeb/fotos/estrellas.jpg");
    background-size: cover;
    color: white;
    float: left;
    width: 50%;
    height: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;  
    padding: 8px;
}

h1{
    text-shadow: 7px 4px 5px rgb(0, 0, 0), 7px 4px 5px rgb(255, 255, 255);
}


.headerDer {
    background-image: url("/miWeb/fotos/estrellas.jpg");
    background-size: cover;
    color: white;
    height: 250px;;
    width: 50%;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center; 
    padding: 20px;
    border-left: 15px dotted white ;
    /* dashed, double, groove */
}


/* **** MENU ***** */

.menu {
    position: sticky;
    top: 10px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    padding: 0px 20px;
    margin: 10px 0px;
    z-index: 3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu a{
    display: inline-block;
    padding: 10px 4%;
}

a:hover{
    font-weight: bold;
}


/* ***** FOOTER ***** */

footer{  
    position: fixed;
    bottom: 5px;
    
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    padding: 5px;
}

footer img {
    display: inline-block;
    padding:  0px 5%;
}


/* ****** MAIN ****** */

section {
    border-top: 4px solid black;
    padding: 0px 10px;
    height: 300px;
    margin: 10px 0;
}

section {
    position: relative;
}
section h2 {
    position: absolute;
    left: 45%;
    top: -36px;
    color: white;
    text-shadow: 4px 4px 4px  white;
    font-weight: bold;
    -webkit-text-stroke: 1.5px black;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ****** INICIO ****** */

.inicio{
    width: 100%;
    /* background-image: url("fotos/fotoinicio.png"); 
    opacity: 0.5; */
    height: 300px;
    background-size: cover;
    text-align: center;
    display: table;
    display: block;
}

.h3izq{
    float: left;
    width: 40%;
    display: table-cell;
    vertical-align: middle;
}

.h3der{
    float: right;
    width: 40%;
    padding: 10px;
}

.inicio img{
    float: left;
    width: 20%;
    border-radius: 10% / 50%;
}

/* ***** AFICIONES **** */

.icons1, .icons2{
    text-align: center;
}

/* ****** CONTACTO ******** */


.contacto textarea {
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 40px;
    width: 35%;
}

.contacto input {
    position: absolute;
    left: 40%;
    padding: 8px;
    margin-left: 30px;
}

.contacto input[name=nombre]{
    top: 80px;
    width: 35%;
}
.contacto input[name=email]{
    top: 120px;
    width: 35%;
}

.contacto input[name=enviar]{
    top: 180px;
    width: 15%;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 8px;
    font-weight: bold;
}

input[name=enviar]:hover{
    background-color: white;
    color: black;
}

.contacto img{
    position: absolute;
    vertical-align: middle;
    top: 50px;
    width: 10%;
    right: 20px;

}


