* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(rgb(255, 117, 250) 10%, rgb(31, 210, 255), rgb(137, 10, 255));

}

header {
    position: relative;  
    background-color: blueviolet;
    overflow: auto;
}

.headerIzq{
    background-image: url("fotos/estrellas.jpg");
    background-size: cover;
    color: white;
    float: left;
    width: 50%;
    height: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;  
    padding: 8px;
}

h1{
    text-shadow: 7px 4px 5px rgb(0, 0, 0), 7px 4px 5px rgb(255, 255, 255);
}


.headerDer {
    background-image: url("fotos/estrellas.jpg");
    background-size: cover;
    color: white;
    height: 250px;;
    width: 50%;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center; 
    padding: 20px;
    border-left: 4px ;
}

footer{  
    position: fixed;
    bottom: 5px;
    
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    padding: 5px;
}

footer img {
    display: inline-block;
    padding:  0px 5%;
}

.nav {
    position: sticky;
    top: 10px;
    text-align: center;
    background-color: rgb(192, 192, 192);
    border: 3px solid black;
    padding: 0px 20px;
    margin: 10px 0px;
}

.nav a{
    display: inline-block;
    padding: 10px 4%;
}

section {
    border-top: 4px solid black;
    padding: 10px 10px;

    
}

.inicio{
    width: 100%;
    background-image: url("fotos/fotoinicio.png"); 

    
}

.contacto {
    height: 300px;
    position: relative;
    /* display: block; */
}

/* .contacto * {
    display: inline-block;
} */

.contacto textarea {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 40px;
    width: 35%;
}

.contacto input {
    position: absolute;
    left: 40%;
    padding: 10px;
    margin-left: 30px;
}

.contacto input[name=nombre]{
    top: 40px;
    width: 35%;
}
.contacto input[name=email]{
    top: 100px;
    width: 35%;
}

.contacto input[name=enviar]{
    top: 160px;
    width: 15%;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 8px;
    font-weight: bold;
}

.contacto img{
    position: absolute;
    vertical-align: middle;
    width: 12%;
    right: 20px;
}

