body {
    overflow: hidden; /* Para evitar barras de desplazamiento */
    position: relative;
    height: 100vh; /* Establecer altura total del viewport */
}


.avion {
    position: absolute;
    top: 100px; /* Posición inicial en la parte superior */
    left: -350px; /* Posición inicial fuera de la pantalla */
    width: 350px;
    animation: volar 20s linear infinite; /* Animación de vuelo */
    z-index: 1;
}

@keyframes volar {
    0% { transform: translateX(calc(100vw + 350px)); } /* Cambia de -200px a 100vw + 350px */
    100% { transform: translateX(-350px); } /* Cambia de 100vw + 200px a -200px */
}

.caida404 {
    position: absolute;
    top: 240px; /* Posición inicial en la parte superior */
    left: -150px; /* Posición inicial fuera de la pantalla */
    animation: caer 20s linear infinite; /* Animación de caída */
    width: 100px;
}

@keyframes caer {
    0% { transform: translateX(calc(100vw + 200px)) translateY(0) scale(1); } /* Cambia de -200px a 100vw + 200px */
   
    100% { transform: translateY(600px) scale(4.5); } /* En el suelo, cambia de 100vw + 200px a -140px */
}

.paracaidas {
    position: absolute;
    top: 260px; /* Posición inicial en la parte superior */
    left: -350px; /* Posición inicial fuera de la pantalla */
    width: 50px;
    animation: caerParacaidas 20s linear infinite;
    opacity: 0;
}

@keyframes caerParacaidas {
    0% { 
        transform: translateX(calc(100vw + 100px)) scale(1); 
    } 
    20% { 
        transform: translateX(calc(100vw + 100px)); 
        opacity: 0;
    } /* Empieza a caer en el 20% */
    22% { 
        transform: translateX(calc(100vw + 100px)); 
        opacity: 1;
    }
    
    100% { 
        transform: translateY(600px) translateX(calc(50vw - 25px)) scale(5.5); 
        opacity: 1;
    } /* En el suelo, cambia de 100vw + 100px a -100px */
}

.frase {
    position: absolute;
    top: 10%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    font-size: 24px; /* Tamaño de fuente */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente más graciosa */
    color: #69bcff; /* Color del texto rosa */
    z-index: 2; /* Asegura que esté sobre las imágenes */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra al texto para efecto */
}