 * {
     -webkit-box-sizing: border-box; 
    box-sizing: border-box;
   } 

body{
    background: #D7DBDD; 
    height:  1500px     
}

@import "partials/superior";
@import "partials/centro";
@import "partials/aside";
@import "partials/autor";
@import "partials/pie";

