footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: var(--color-1);
  color: var(--color-6);
  font-size: 2vw;
}

@media screen and (min-width: 640px) {
  footer{
    padding: 20px;
    background-color: var(--color-1);
  }
  
}

@media screen and (min-width: 890px){
  footer {
    background-color: var(--color-1);
  }
}