header {
  position: sticky;
  background-color: var(--color-2);
  width: 100%;
  text-align: center;
  top: 5px;
  height: 80px;
  // background-image: url("../imagenes/mundoHeader.jpg");
  // background-position: center;
  // background-repeat: space;
  // background-size: cover;
  border: 2px solid #000;
  font-size: 3vw;
  font-weight: bold;
  color: var(--color-6);
  padding: 10px;
}

nav {
  text-align: right;
  padding: 20px;
  background-color: var(--color-1);
  display: block;
  color: var(--color-6);
  width: 100%;

  & a {
    display: inline-block;
    padding: 5px 10px;
  }


}

@media screen and (min-width: 640px) {
  header {
    background-image: none;
    height: 90px;
    
  }

  p.header {
    padding-bottom: 10px;
  }
  nav {
    margin: 0%;
    height: 50px;
    text-align: center;
    padding: 30px;
    background-color: var(--color-4);
    display: block;
  }

  nav a {
    display: inline-block;
    padding: 0 20px;
  }

}

@media screen and (min-width: 890px){
  header {
    position: sticky;
    background-image: none;
    background-color: var(--color-1);
    color: var(--color-5);
    width: 100%;
    text-align: center;
    top: 5px;
    height: 110px;
  }

  nav {
    height: 50px;
    text-align: right;
    padding: 20px;
    background-color: var(--color-4);
  }
}