* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/*
    ELEMENTOS SUPERIORES
*/
header{
  position: sticky;
  top: 5px;
  z-index: 3;
  text-align: center;
  background-color: black;
}
header img {
    display: inline-block;
    width: 300px;
       
}
nav {    
    position: static;
    display: block;
    text-align: right;
    padding: 15px;
}

body > nav a , body > nav i{    
    display: inline-block;
    width: 9%;
    color: black;
}

/*
    ELEMENTOS CENTRALES
*/
body{
    background: lightgray;
    margin: 10px;
    height: 1000px;
}
main{
    background-color: #eee;
    float: left;   
    width: 70%;
    padding: 10px;
    margin-left: 3%;
    column-count: 3;
    column-gap: 5%;
}

div.infoArticulo{

}

main article{
    text-align: center;
    
}
main article > img{
    margin: 10%;

}
.titularArticulo{
    
}

/* POSICIONAMIENTO DEL ASIDE*/
aside { 
   float: right;
   width: 25%;
    margin-right: 5px;
}
aside > nav {
    text-align: center;
   
}

aside > nav a {
    display: block; 
    background-color: #eee; 
    margin: 30px 0;
}


/*
FORMULARIO
*/
form{	
	background-color: #eee;
    padding: 10px;
    margin-top: 10px;
}

form label{
    margin: 5px;
    display: inline-block;
    width: 30%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    border: none;
    width: 65%;
    display: inline-block;
    margin: 20px 0;
}

form input[type="submit"] , button{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;	
	resize:none;
	display:block;
}



/*
    ELEMENTOS INFERIORES
*/

footer{ 
    background: black;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
footer > h2 {
    font-family: Arial black;
    font-weight: bold;
    font-size: 30px;
    background: #202020;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4), 0px -1px 1px rgba(0,0,0,0.3);
}

/*
    Autor
*/

p#idAutor{
    font-style: italic;
    background-color: #eee;
    top: 766px;
    position: absolute;
    left: 72px;
    padding: 0px 500px;
}