
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado, .contenido, .contenido-lateral, .pie-pagina {
    padding: 1em 2em;
    display: block;
}

.contenido, .contenido-lateral, .pie-pagina {   
    box-sizing: border-box;
}
.encabezado {
    background-color: rgb(247,220,22);
    height: 80px;
}


.contenido-lateral {    
    background-color: rgb(163, 163, 113); 
    height: 400px;  
}
.post {
    background-color: rgba(117, 255, 26, 0.46);   
    margin-bottom: 1em;
    height: 100px;
}
.pie-pagina {    
    background-color: #000;   
}

@media screen and (min-width: 640px) {
    .encabezado {
        background-color: white;
    }
    
    .contenido {
        background-color: darkred; 
    }
}

@media screen and (min-width: 890px){
    .encabezado {
        background-color: lightblue;

    }
    .contenido {
        background-color: rgb(207, 123, 123);
        float: left;
        width: 40%;
    }
    .post {
        background-color: rgb(232, 237, 91);   
        margin-bottom: 1em;
  
    }
    .contenido-lateral {    
        background-color: rgb(163, 163, 113); 
        float: left;
        width: 60%;
    }

    .pie-pagina {
        float: left;
        width: 100%;
    }

}
    