.menu {

  & {
    background-color: var(--color-1);
    border-radius: 1rem;    
    margin-bottom: 3vh;
    font-size: 1rem;   
    text-align: center;
  }
 
  .opcion {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
  }
  
  .opcion:hover {
    background-color: #ddd;
  }
}