
.container {   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(42, 165, 142);
  }
  
  .caja {
    background: #fff;
    width: 20%;
    text-align: center;
    min-height: 200px;
    margin-bottom: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
  }
  .caja img {
    width: 100%;
    margin: auto;
  }
  
  .caja .info {
    padding: 1rem 2rem;
    background: #363648;
    font-weight: bold;
    color: #fff;
  }