.galeria{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
}

.galeria__titulo{
    font-size: 2rem;
    margin-bottom: 1em;
}


.galeria__contenedor{
    // display: flex;
    // gap: 20px;
    // flex-wrap: wrap;
    display: grid;
    //3 col // 2 row
    grid-template-columns: 
    [col-start] 1fr 
    [mid-start] 1fr
    [mid-end] 1fr 
    [col-end];
    grid-template-rows: 
    [row-start] 1fr 
    [row-mid-start] 1fr 
    [row-end];
}

.galeria__picture{
    //min-width: 200px;    
    //flex-basis: 350px;
}

.galeria__img{
    max-width: 100%;
    max-height: 100%;
    margin: 15px;
    //object-fit: cover;
}