main{   
    column-count: 4;  
    column-gap: 100px;
    float: left;
    width: 70%;
    margin: 3%;
    padding: 10px;
    background-color:#eee; 
    text-align: center;  
}

div.infoArticulo {   
    margin-right: 5%;
}

main article{
    

}
main article > img{    
    margin-top: 10px; 
    width: 150px;      
}
.titularArticulo{
    font-family: Arial;   
    font-size: 25px;
    color: #2471A3;
    text-shadow: 0px 0px 9px #508AD3;
}
